body{
    background-color: #696969;
    padding:  20px;
    margin: 0;
}
.title{
    color: white;
}
ul.header li{
    display: inline;
    list-style-type: none;
    margin: 0;
}
ul.header{
    background-color: #ff0c00;
}
ul.header li a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.content{
    background-color: #fff;
    padding: 20px;
}
.content h2{
    padding: 0;
    margin: 0;
}
